@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .headerLink {
       @apply flex-auto basis-1/3 text-center cursor-pointer opacity-75 transition hover:opacity-100 text-xl py-4;
    }
}
